<template>
    <div class="modal"
        :class="isActive? 'is-active' : ''">
        <div class="modal-background" @click="closeAbout()"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">About</p>
                <button class="delete" aria-label="close" @click.prevent="closeAbout()"></button>
            </header>
            <section class="modal-card-body">
                <div class="content">
                    <p>Questa pagina contiene una lista di servizi gratuiti di supporto psicologico
                    che sono attivi sul territorio italiano a fronte dell'emergenza di pandemia dal virus Covid-19.</p>
                    <p>È un progetto open source moderato dagli sviluppatori: la moderazione è necessaria per evitare che
                        siano inseriti nella lista notizie fuorvianti o orientati alla promozione di associazioni opache e/o poco gradite a me.</p>
                    <p>Per contribuire alla lista puoi:</p>
                    <ul>
                        <li>scrivere a @xho o @bato su Twitter;</li>
                        <li>fare una segnalazione tramite l'apertura di una issue su Gitlab;</li>
                        <li>partecipare al progetto su Gitlab facendo richiesta come sviluppatore.</li>
                    </ul>
                    <p class="help">
                        __<br>
                        In fede,<br>Christo
                    </p>
                </div>
            </section>
            <footer class="modal-card-foot">
                <button class="button" @click.prevent="closeAbout()">Close</button>
            </footer>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        isActive: {
            type: Boolean,
            default: false,
        }
    },
    data() {
        return {};
    },
    methods: {
        closeAbout() {
            this.$emit('closeAbout', true);
        }
    }
};
</script>
