<template>
  <div>
    <div class="columns is-multiline is-variable is-6" v-if="list.length">
        <div class="column is-half is-one-third-fullhd" v-for="(item, i) in list" :key="item.id">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">{{ item.title }}</p>
                    <a href="#" class="card-header-icon" aria-label="more options">
                        <span class="icon">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                    </a>
                </header>
                <div class="card-content">
                    <div class="content">
                        <div class="body" v-html="item.note"></div>
                        <table class="table is-hoverable">
                            <tbody>
                                <tr v-if="item.tel">
                                    <td class="is-narrow">telefono <span v-if="item.tel2">1</span>:</td>
                                    <td><a :href="`tel:${item.tel}`">{{ item.tel }}</a></td>
                                </tr>
                                <tr v-if="item.tel2">
                                    <td class="is-narrow">telefono 2:</td>
                                    <td><a :href="`tel:${item.tel2}`">{{ item.tel2 }}</a></td>
                                </tr>
                                <tr v-if="item.tel3">
                                    <td class="is-narrow">telefono 3:</td>
                                    <td><a :href="`tel:${item.tel3}`">{{ item.tel3 }}</a></td>
                                </tr>
                                <tr v-if="item.sms">
                                    <td class="is-narrow">SMS:</td>
                                    <td><a :href="`sms:${item.tel3}`">{{ item.sms }}</a></td>
                                </tr>
                                <tr v-if="item.whatsapp">
                                    <td class="is-narrow">whatsapp:</td>
                                    <td>{{ item.whatsapp }}</td>
                                </tr>
                                <tr v-if="item.telegram">
                                    <td class="is-narrow">telegram:</td>
                                    <td>{{ item.telegram }}</td>
                                </tr>
                                <tr v-if="item.skype">
                                    <td class="is-narrow">skype:</td>
                                    <td>{{ item.skype }}</td>
                                </tr>
                                <tr v-if="item.email">
                                    <td class="is-narrow">email:</td>
                                    <td><a href="`mailto:${item.email}`">{{ item.email }}</a></td>
                                </tr>
                                <tr v-if="item.www">
                                    <td class="is-narrow">sito web:</td>
                                    <td><a :href="item.www" target="_blank">{{ item.www }}</a></td>
                                </tr>
                                <tr v-if="item.location">
                                    <td class="is-narrow">luogo:</td>
                                    <td>{{ item.location }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <footer class="card-footer">
                    <a :href="`tel:${item.tel}`" class="card-footer-item" v-if="item.tel">Chiama</a>
                    <a href="`mailto:${item.email}`" class="card-footer-item" v-if="item.email">Email</a>
                    <a :href="item.www" class="card-footer-item" v-if="item.www" target="_blank">Sito web</a>
                </footer>
            </div>
        </div>
    </div>
    <p v-else>…</p>
  </div>
</template>

<script>
export default {
  props: {
    list: {
      type: Array,
      default: []
    }
  },
  data() {
    return {};
  },
  methods: {}
};
</script>

<style lang="scss">
    .card {
        margin-top: 3rem;
        .body {
            margin-bottom: 2rem;
        }

        table {
            td:first-child {
                white-space: nowrap;
            }
            td:last-child {
                word-break: break-all;
            }
            a:hover {
                color: hsl(204, 86%, 53%);
                text-decoration: underline;
            }
        }
    }
</style>
