.navbar {
    padding: 0 1rem;
    background: transparent;
    box-shadow: 0 0 6px rgba(0,0,0,.5);
}
.navbar-item img {
    width: 2rem;
    max-height: 2rem;
}

.navbar-menu {
    @media screen and (max-width: 1023px) {
        display: block;
        position: absolute;
        top: 52px; right: 0;
        min-width: 310px;
        min-height: calc(100vh - 52px);
        transform: translateX(101%);
        transition: .3s transform;
        &.is-active {
            transform: translateX(0);
        }
    }
}

tr:last-child {
    td {
        border: none;
    }
}

.card-header {
    background-color: $gray-800;
    color: $white;
    .card-header-title {
        color: $white;
        padding: .75rem 1.5rem;
    }
}

a.card-footer-item {
    background-color: $primary;
    color: white;
    &:hover {
        background-color: hsl(204, 86%, 53%);
        color: white;
    }
}
