.main-container {
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    article, footer.main-footer {
        padding: 2rem 1rem;
        @media screen and (min-width: 769px), print {
            padding: 2rem;
        }
    }

    article {
        flex-grow: 1;
    }

    header.main-header {
        margin: 1rem 0;
    }

    footer.main-footer {
        margin-top: 2rem;
        background-color: $gray-900;
        color: $gray-500;
    }
}
