/*
** FONTS
*/

// family
// from bulma 1.3.6
$font-family-sans-serif:      "Open Sans", BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
$font-family-base:            $font-family-sans-serif !default;
// $font-family-serif:           'Cormorant Garamond', Georgia, 'Times New Roman', Times, serif;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

// size
$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:                ($font-size-base * 1.125) !default;
$font-size-llg:               ($font-size-base * 1.25) !default;
$font-size-lllg:              ($font-size-base * 1.5) !default;
$font-size-sm:                ($font-size-base * .875) !default;
$font-size-ssm:               ($font-size-base * .8125) !default;
$font-size-sssm:              ($font-size-base * .75) !default;

// weight
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-semibold:        600 !default;
$font-weight-bold:            700 !default;
$font-weight-base:            $font-weight-normal !default;

// line
$line-height-base:            1.5rem !default;


/*
** COLORS
*/

// stylelint-disable
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-550: #8e959e !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$grays: () !default;
$grays: map-merge((
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
), $grays);

// from bulma
$link: hsl(217, 71%, 53%);
$yellow: hsl(48, 100%, 67%);


$color-brand-1: #0070bb;
$color-brand-2: #009cc7;
$color-brand-gray: #ced4d9;
$primary: $color-brand-1;
$defaultTestColor: $gray-800;

/*
** LAYOUT
*/

$gutter: 16px;
$tablet:     568px;
$tablet-768: 768px;
$desktop:	   896px + (4 * $gutter);
$widescreen: 1152px + (4 * $gutter);
$fullhd: 1344px + (4 * $gutter);
