<template>
  <section class="main-container">
    <Navbar @showAbout="onShowAbout" />

    <article>
        <header class="main-header">
            <h1 class="title is-uppercase has-text-weight-light">Supporto psicologico Covid-19</h1>
            <h2
            class="subtitle"
            >Una lista di servizi <span class="is-bold">gratuiti</span> raggiungibili via telefono o email sul territorio italiano</h2>
        </header>

        <main>
            <List :list="list" />
        </main>
    </article>

    <footer class="main-footer">
        <p>2020 no copyright - GPL License 3.0</p>
        <p class="help">Questo sito non utilizza cookie o strumenti di analytics. Il progetto è open source su github.</p>
    </footer>

    <About :isActive="isAboutActive" @closeAbout="onCloseAbout" />
  </section>
</template>

<script>
/* eslint-disable */
import axios from "axios";
import Navbar from "~/components/Navbar.vue";
import List from "~/components/List.vue";
import About from "~/components/About.vue";

const BASEURL = process.env.NODE_ENV === "production" ? "https://xho.gitlab.io/supporto-psicologico-covid-19" : "http://localhost:3000";

export default {
  data() {
    return {
        list: [],
        isAboutActive: false,
    };
    },
    components: {
        Navbar,
        List,
        About,
    },
    mounted() {},
    methods: {
        onShowAbout(e) {
            this.isAboutActive = true;
        },
        onCloseAbout(e) {
            this.isAboutActive = false;
        }
    },

    async asyncData({ req, isServer, params, store }) {
        return await axios.get(BASEURL + "/list.json").then(res => {
            let list = res.data;
            return { list: list };
        });
    }
};
</script>

<style lang="scss">
    @import "~/assets/style.scss";
</style>
